{% extends "user_base.html" %}

<title>{% block title %}About Meru University{% endblock  %}</title>

{% block content %}
<div class="about">
    <div class="about-div">
        <div class="about-text">
            <h1>About Meru University</h1>
            <p>
                The idea of establishing Meru University dates back to the early 1960s when the Njuri Ncheke conceived the concept.
            </p><p>Meru University traces its roots to the mid-1960s when the elders initiated the process of its establishment after Kenya's Independence.</p>
            <p>Meru College of Technology (MECOTECH) was converted into Meru University College of Science and Technology (MUCST) in 2008.</p>
            <p>In 2013, Meru University of Science and Technology (MUST) received a full-fledged University status through the Award of Charter.
            </p>
       
        </div>
        <div class="about-img">
        </div>
    </div>
</div>
{% endblock  %}
