{% extends "base.html" %}

{% block content %}
<h2>User Information</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ url_for('delete_user', user_id=user.id) }}">
                        <button type="submit">Delete</button>
                    </a>

                    <a href="{{ url_for('admin_assign',  user_id=user.id) }}">
                        <button>Assign Course</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}