
{% extends "auth_nav.html" %}
{% block content %}
<h1>Contact Us</h1>

    

<form action="#" method="post">
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
{% endif %}
    <label for="email">Email:</label>
    <input type="text" name="email" />
    <label for="phone">Phone:</label>
    <input type="text" name="phone" />
    <label for="message">Message:</label>
    <textarea rows="5" name="message"></textarea>
    <button type="submit">Submit</button>
</form>
{% endblock %}