{% extends "user_base.html" %}


{% block content %}
<div class="home">
    <div class="home-div">
        <div class="home-img">
        </div>
        <div class="home-text">
            <h1>Welcome to Meru University of Science and Technology</h1>
            <p>Meru University of Science and Technology is a world class University for both government sponsored and self sponsored students. It is a center for Technology and Innovations</p>
        </div>
       
    </div>
</div>
{% endblock  %}

