<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="must-container">
        <div class="nav">
            <a href="/">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="">
                    <span>Meru University of Science and Technology</span>
                </div>
            </a>
            <div class="link">
                <div class="link-tags">
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/apply">Apply</a></li>
                        <li><a href="/programmes">Programmes</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        

        {% block content %}
        {% endblock %}


        <div class="container">
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="image">
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">Chat support</h4>
                            <p class="chatbox__description--header">Hi. My name is Meru University Chat Bot. How can I help you?</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message...">
                        <button class="chatbox__send--footer send__button">Send</button>
                    </div>
                </div>
                <div class="chatbox__button">
                    <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="footer-section">
                <div class="footer-div">
                    <div class="">
                        <div class="logo">
                            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="">
                            <span>MUST</span>
                        </div>
                        <div class="footer-about">
                            <p>Meru University of Science and Technology is a world class University for both government sponsored and self sponsored students.</p>
                        </div>
                    </div>
                </div>
                <div class="footer-div">
                    <div class="footer-head">
                        <h1>Useful Links</h1>
                    </div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="">Application</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Alumni</a></li>
                            <li><a href="">Terms & conditions</a></li>
                            <li><a href="">Provacy policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-div">
                    <div class="footer-head">
                        <h1>Study</h1>
                    </div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="">Find a course</a></li>
                            <li><a href="">Admissions</a></li>
                            <li><a href="">Scholarships</a></li>
                            <li><a href="">Study on campus</a></li>
                            <li><a href="">Fees and costs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-div">
                    <div class="footer-head">
                        <h1>Inquiries</h1>
                    </div>
                    <div class="footer-links">
                        <ul>
                            <div class="contact-div">
                                <p>Address</p>
                                <span></span>
                            </div>

                            <div class="contact-div">
                                <p>Email</p>
                                <span></span>
                            </div>

                            <div class="contact-div">
                                <p>Phone</p>
                                <span></span>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='Bot.js') }}"></script>

</body>
</html>